* {
    font-family: 'Lora', serif;
}

:root {
    --bodz: teal;
    --heads: tomato;
    --gritz: rgb(197, 197, 197);
    

}

body {
    background-color: var(--bodz);
}

.head {
    font-size: 300%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--heads);
    border-radius: 25px;
}

.tag, .tableHeader {
    font-size: 150%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.boxing {
    margin: 40px;
    border-radius: 25px;
    background-color: var(--gritz);
}

.viewTab, .makeRes {
    margin-top: 25px;
    margin-bottom: 25px;
}

.viewbutz {
    border-radius: 50px;
    background-color: blue;
    color: white;
}


.makebutz {
    border-radius: 50px;
    background-color: red;
    color: white;
}

.innerBox, .reservationsBox {
    background-color: var(--gritz);
    border-radius: 50px;
    text-align: center;
}